<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-6">
      <ohr-add-event></ohr-add-event>
    </div>
    <div class="col-md-6">
      <ohr-add-category (onCategotyAdd)="newCategoryAdded($event)"></ohr-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ohr-edit-category></ohr-edit-category>
    </div>
  </div>
</section>
